p {
    margin: 4px;
    padding-top: 0;
}

.img_date {
    float: left;
    margin-top: 8px;
    margin-left: 15px;
}


#affiche_date {
    float: left;
    padding: 0 5px;
    margin: 10px 0;
    font-size: 0.9em;
    color: #222;
}

.active {
    color: #007fff;
}



/*CONTENU*/

.nopadding {
    margin: 0;
    padding: 0;
}

.naviguation_config {

    color: #9E9E9E;
    font-family: "Tahoma";
}

.conteneur_config {
    margin: 20px 0;
}


.block-nav {
    padding: 10px 0;
    font-size: 0.9em;
}


.block-nav p:hover {
    cursor: pointer;
    color: #007fff;
}


.statistiques {
    border-top: 1px solid #E0E0E0;
    margin: 20px 0;
    padding: 8px 0;
}


.statistiques p {
    font-size: 0.8em;
}



/*******************************MESSAGERIE*****************/

#bandeau-top-messagerie {
    padding: 8px;
    margin: 10px 0;
    background-color: #424242;
    color: #fff;
}

#bandeau-top-messagerie h2 {
    font-size: 1em;
    margin-left: 20px;
}

#description-message {
    margin-top: 5px;
    background-color: rgba(0, 0, 0, .03);
    padding: 8px 15px;
    border: 1px solid rgba(0, 0, 0, .09);
}

#description-message h3 {
    font-size: 1.4em;
}

#description-message p {
    font-size: 0.9em;
}

#contenu-message .expediteur {
    font-size: 1.1em;
    font-weight: bold;
}



#message-contact {
    padding: 20px;
    font-size: 0.8em;
    font-family: "Tahoma";
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background-color: #F5F5F5;
}

#message-contact span {
    float: right;
    font-size: 0.7em;
}

#message-personnel {
    padding: 20px;
    font-size: 0.8em;
    font-family: "Tahoma";
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background-color: #E3F2FD;
}

#message-personnel span {
    float: right;
    font-size: 0.7em;
}


#naviguation-message {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, .07);
    ;
}

#naviguation-message a {
    text-decoration: none;
}

#naviguation-message p.title {
    padding: 5px 0;
    color: #333;
}

#onglet-message {
    border-top: 1px solid #e3e3e3;
    padding: 14px;
}

#onglet-message:hover {
    cursor: pointer;
    background-color: #17a2b8;
    border-radius: 3px;
}




.image-contact-message span {
    position: relative;
    z-index: 5;
    top: -18px;
    background-color: #E0F7FA;
    border-radius: 50%;
    font-size: 0.6em;
    color: #007fff;
    padding: 8px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .2);
}

.image-contact-message img {
    width: auto;
    height: auto;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.infos-contact-message {
    font-size: 0.8em;
    color: #333;
}

.date-message {
    font-size: 0.7em;
    color: #333;
}

#onglet-message .row {
    margin: 0;
}

#onglet-message .col,
.col-2 {
    padding: 0;
    margin: 0;
}





/***** PREFERENCES PERSONNEL**/


#bandeau_naviguation {
    background-color: #333;
    padding: 10px;
    color: #fff;
    margin-bottom: 40px;
}

#bandeau_naviguation img {
    width: 45px;
    height: 45px;
    margin-right: 15px;
}

#bandeau_naviguation h1 {
    font-size: 1.1em;
}


#box-preferences-personnel .box_de_preference {
    margin: 15px 0;
    height: 150px;
    border: 2px solid rgba(0, 0, 0, .10);
}


.box_de_preference p.title {
    padding: 8px;
    background-color: rgba(0, 0, 0, .30);
    color: #fff;
}





/*END CONTENU*/
