#bandeau_top_categorie {
    background-color: #333;
    padding-top: 40px;
    color: #fff;
}

#bandeau_top_categorie p {
    font-size: 0.9em;
}


#bandeau_top_categorie h1 {
    font-size: 1.5em;
}

#bandeau_top_categorie ul {
    margin-top: 30px;
    margin-bottom: 0px;
}

#bandeau_top_categorie li {
    margin-left: 8px;
}

#bandeau_top_categorie li:hover {
    cursor: pointer;
}

.active {
    border-bottom: 1px solid #007fff;
}

.actived {
    background-color: #007ff1;
}

.actived a {
    color: #fff;
}



/*ON FAIT LE CSS POUR LA SECTION SELECTED*/

#section_selected {
    margin: 40px 0;
}

#meilleur_tutoriel {
    background-color: #333;
    padding: 25px;
    color: #fff;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.97);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.97);
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.97);
    margin-bottom: 0;
}

#meilleur_tutoriel img {
    border-radius: 50%;
    border: 5px solid #fff;
}

#meilleur_tutoriel a {
    text-decoration: none;
    background-color: #007791;
    color: #fff;
    padding: 15px 20px;
}

#best_cour_categorie {
    margin-top: 50px;
}

#best_cour_categorie p {
    margin: 0;
    padding: 0;
}

#best_cour_categorie a {
    color: #007791;
    text-decoration: none;
}

.best-post {
    margin-top: 30px;
}



/*ON FAIT LE CSS POUR LA SECTION ALL*/

#section_all {
    margin: 40px 0;
    display: none;
}

.tutorial_horizontal {
    border: 1px solid #e3e3e3;
    margin: 15px 0;
    position: relative;
    z-index: 1;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.hover_success {
    position: absolute;
    z-index: 3;
    background-color: #007791;
    width: 100%;
    height: 100%;
    left: 0;
    text-align: center;
    vertical-align: middle;
    display: table;
    border-radius: 4px;
}

.hover_success p {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}

#section_all col {
    margin: 0;
    padding-left: 0;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.nopadding img {
    width: 285px;
    height: 190px;
}

#box-descriptif-tuto {

    font-size: 0.8em;
    font-family: "Tahoma";
}

#box-descriptif-tuto h2 {
    font-size: 1.3em;
    padding-bottom: 5px;
    color: #007791;
    font-weight: bold;
}

#box-prix-note {

    font-size: 0.9em;
    font-family: "Tahoma";
    text-align: right;
}

.add_panier {
    background-color: #007791;
    color: #fff;
    padding: 5px;
    margin-bottom: 10px;
}

.add_panier:hover {
    cursor: pointer;
    border: 1px solid #007791;
    color: #007791;
    background-color: #fff;
}

.pagination {
    margin: 20px auto;
}

.pagination li {
    padding: 2px 10px;
    margin: 0 2px;
    border: 1px solid #007ff1;
    border-radius: 4px;
}

.pagination li a {
    text-decoration: none;
}




/**/

#filter-menu {
    margin-bottom: 15px;
}

#filter-menu ul li {

    list-style: none;
    float: left;
    padding: 10px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    margin-left: 10px;
    text-transform: uppercase;
}

.activate {
    background-color: #007791;
    color: #fff;
}


#filter-menu ul li:hover {
    cursor: pointer;
    background-color: #007791;
    color: #fff;
}



/**/

.ribbon {
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: 5;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
    font-family: 'Quicksand', sans-serif;
}

.ribbon span {
    font-size: 0.6em;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#007791 0%, #007791 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    left: -21px;
}

.ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #007791;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #007791;
}

.ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #007791;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #007791;
}

/**/
