.col-10{
	padding: 0;
}

#profil_personnel_infos{
	margin: 35px 0;
}

#reputation_profil_infos{
	margin:15px 0;
}


#profil_personnel_infos a{
  color :#000;
  cursor: pointer;
}

#profil_personnel_infos a:hover{
  color :#2e7d32;
  cursor: pointer;
}


#description_profil_infos{
 margin: 15px 0;
}

#profil_personnel_infos h4{
  font-size    : 0.9em;
  color        :#c5c5c5;
  border-bottom: 1px solid #c3c3c3;
}

#profil_personnel_infos p {
  font-size: 0.8em;
  color    :#555;
}



/**/

#formulaire_ajout_post, #formulaire_ajout_tuto{
  margin          :35px 0 ;
  background-color: #222;
  padding         : 10px;
  border-radius   : 4px;
}


.large_title{
  color        : #fff;
  font-family  : 'Quicksand', sans-serif;
  margin-top   : 15px;
  margin-left  : 15px;
  margin-bottom: -5px;
}

.minuscule_title{
  font-size  : 0.7em;
  color      :#fff;
  margin-left: 15px;
}

#formulaire_ajout_post hr ,#formulaire_ajout_tuto hr{
	text-align: left;
	width: 40px;
	height: 2px;
	background-color: #fff;
}

h4{
	font-size: 1.1em;
}


/*::-webkit-input-placeholder {
	font-size: 0.9em;
   padding-left:10px;
   color:#fff;
}

:-moz-placeholder {
font-size: 0.9em;
   padding-left:10px;
   color:#fff;}

::-moz-placeholder {
font-size: 0.9em;
   padding-left:10px;
   color:#fff;}

:-ms-input-placeholder {
font-size: 0.9em;
   padding-left:10px;
   color:#fff;}*/



#formulaire_ajout_post input[type=text], #formulaire_ajout_tuto input[type=text]{
  width           : 100%;
  margin          :15px 5px;
  border          :none;
  color           :#fff;
  border-bottom   : 1px solid #d5d5d5;
  background-color: #222;
  outline         : none;
}


#formulaire_ajout_post input[type=text]:focus, #formulaire_ajout_tuto  input[type=text]:focus{
  color        :#e5e5e5;
  border-bottom: 1px solid #007fff;
  outline      : none;
  font-family  : 'Quicksand', sans-serif;


}


#formulaire_ajout_post select,  #formulaire_ajout_tuto select{
  padding           : 5px 8px;
  width             : 220px;
  outline           : none;
  border            : none;
  box-shadow        : none;
  background        : transparent;
  background-image  : none;
  -webkit-appearance: none;
  color             :#222;
  background-color  : #fff;
  border-radius     : 2px;
}

 #formulaire_ajout_post select:focus, #formulaire_ajout_tuto select:focus{
  outline: none;
  cursor : pointer;
}

.add_image_post {
  padding         : 10px;
  color           :#fff;
  font-size       : 0.9em;
  cursor          : pointer;
  font-family     : 'Quicksand', sans-serif;
  border-radius   : 2px;
}


.add_textarea{
  margin     : 10px;
  text-align : left;
  font-size  : 0.8em;
  font-family: 'Quicksand', sans-serif;
    color   :#fff;
}

#formulaire_ajout_post textarea, #formulaire_ajout_tuto textarea{
  width        : 100%;
  margin       :15px 5px;
  padding      : 15px;
  border-radius: 5px;
  color        :#222;
}


#formulaire_ajout_post .form-control{
	background-color: #222;
}

#formulaire_ajout_tuto .form-control{
  background-color: #222;
}


#affichage_post{
  font-size: 0.8em;
}



/*RUBAN */

.ribbon {
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: 1000;
    overflow: hidden;
    width: 75px;
    height: 315px;
    text-align: right;
    font-family: 'Quicksand', sans-serif;
}

.ribbon span {
    font-size: 0.6em;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#007799 0%, #007791 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    left: -21px;
}

.ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #007791;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #007791;
}

.ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #007791;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #007791;
}


/*Block Commentaire POst*/

#block_commentaire_post{
  background-color: #f5f5f5;
  padding: 10px;
  margin:10px 0;
  border-radius: 3px;
  border:1px solid #d5d5d5;
}
